#ar-poster {
    width: 384px;
    height: 183px;
}

.white-box {
    background-color: white;
    text-align: center;
}

.camera-button{
    position: fixed;
    top: 658px;
    width: 100%;
    text-align: center;
    z-index: 1;
    margin-left: 23pc;
    opacity: 70%;
}

.camera-white-box {
    padding: 30px;
    background-color: white;
    text-align: center;
    width: 315px;
    height: 396px;
    border-radius: 10px;
    margin-left: 17px;
}

.camera-dashed-box {
    padding: 15px;
    background-color: #F8F8F8;
    width: 257px;
    height: 298px;
    border-style: dashed;
    border-color: #707070;
}

#camera-icon {
    margin-top: 49px;
    padding: 15px;
}

.camera-desc {
    font-family: "Century Gothic";
    color: grey;
    font-size: 14px
}

.share-message {
    margin-top: 20px;
    font-family: "Century Gothic";
    color: #D62828;
    font-weight: bold;
    font-size: 16px
}

#share-icon {
    padding-left: 6px;
}

.promotion-description {
    font-family: "Century Gothic";
    color: grey;
    font-size: 12px;
    padding: 15px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .white-box {
        margin-right: 400px
    }

    .camera-button {
        position: fixed;
        top: 161px;
        width: 100%;
        text-align: center;
        z-index: 1;
        margin-left: 21pc;
        opacity: 70%;
    }
    
}

.open>.dropdown-menu-profile {
    display: block;
    position: fixed;
}

.dropdown-menu-profile {
    display: none;
    right: 40px;
    width: 150px;
    height: 137px;
    z-index: 1000000000000000000000;
    background: white;
    margin-top: 10px;
}

.dropdown-item {
    border-bottom: 1px solid gray;
    border-width: 0;
    padding: 8px 18px;
    background-color: white !important;
    width: 150px;
    font-family: "Century Gothic";
    font-weight: 100 !important;
    color: #4B4B4B !important;
    font-size: 16px !important;
    text-align: left;
}

.my-drop {
    background-color: white !important;
    border-width: 0;
    padding: 0 0em;
    margin: 0em 0;
    -webkit-box-shadow: none !important;
}