.row {
    width: 103%;
}

.ui-header{
    padding: 15px 40px;
    background-color: white !important;
    border: none !important;
}

#hamburger{
    width: 35px;
    margin-top: 8px;
}

.sidenav{
    height: 50%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 68px; 
    left: 0;
    border-right: 1px solid #F1F1F1;
    background-color: white; 
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
}
  
.sidenav a {
    width: 270px;
    font-size: 16px !important;
    font-family: "Century Gothic";
    color: #4B4B4B;
    font-weight: 100;
    border-left: none;
    border-color: #f1f1f1 !important;
    border-bottom: 1px solid #f1f1f1 !important;
    text-align: left;
    background-color: white !important;
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.item-list{
    top: -30px;
}

.item-heading{
    font-weight: 700 !important;
    top: -30px;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    font-size: 36px !important;
    /* margin-left: 50px; */
    background-color: white;
    border: none;
    right: 5px;
    text-align: right;
    top: -25px;
}

#logo{
    width: 180px;
}

.header-right-wrapper{
    text-align: right;
}

#cart{
    width: 35px;
    margin-right: 20px;
    margin-top: 2px;
}

#profile-image{
    width: 35px;
    margin-top: 2px;
}

.breadcrumb-wrapper{
    background-color: #DADADA;
    margin: -1em;
    padding: 10px 10px 10px 50px;
}

.breadcrumb-text{
    color: #4B4B4B;
    font-family: "Century Gothic";
}

.breadcrumb-active{
    color: #D62828;
    font-family: "Century Gothic";
}

#ar-poster{
    width: 740px;
    height: 350px;
}
.white-box{
    background-color: white;
    text-align: center;
}

.camera-white-box{
    padding: 30px;
    background-color: white;
    text-align: center;
    height: 396px;
    border-radius: 10px;
    margin-left: 17px;
}

.camera-dashed-box{
    padding: 15px;
    background-color: #F8F8F8;
    width: 257px;
    height: 298px;
    border-style: dashed;
    border-color: #707070;

}

#camera-icon{
    margin-top: 49px;
    padding: 15px;

}

.camera-desc{
    font-family: "Century Gothic";
    color: grey;
    font-size: 14px
}

.share-message{
    margin-top: 20px;
    font-family: "Century Gothic";
    color: #D62828;
    font-weight: bold;
    font-size: 16px
}

#share-icon{
    padding-left: 6px;
}
                    
.promotion-description{
    font-family: "Century Gothic";
    color: grey;
    font-size: 18px;
    padding: 15px;
}  

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {.white-box{margin-right:400px}
}

.ui-footer{
    padding: 15px 40px;
    background-color: #D62828 !important;
}

.spreemart-title{
    font-family: "Century Gothic";
    color: white;
    font-size: 14px;
    text-shadow: none !important;
}

.spreemart-copyright{
    font-family: "Century Gothic";
    font-style: italic;
    font-weight: 100;
    color: white;
    font-size: 14px;
    text-shadow: none !important;
}

.social-media-wrapper{
    text-align: right;
    margin-top: 10px;
}

#social-media{
    width: 20px;
    margin-right: 10px;
} 