.row {
    width: 103%;
}

.ui-header {
    padding: 15px 40px;
    background-color: white !important;
    border: none !important;
}

#hamburger {
    width: 35px;
    margin-top: 8px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 68px;
    left: 0;
    border-right: 1px solid #F1F1F1;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    width: 270px;
    font-size: 16px !important;
    font-family: "Century Gothic";
    color: #4B4B4B;
    font-weight: 100;
    border-left: none;
    border-color: #f1f1f1 !important;
    border-bottom: 1px solid #f1f1f1 !important;
    text-align: left;
    background-color: white !important;
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.item-list {
    top: -30px;
}

.item-heading {
    font-weight: 700 !important;
    top: -30px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    font-size: 36px !important;
    /* margin-left: 50px; */
    background-color: white;
    border: none;
    right: 5px;
    text-align: right;
    top: -25px;
}

#logo {
    width: 180px;
}

.header-right-wrapper {
    text-align: right;
}

#cart {
    width: 35px;
    margin-right: 20px;
    margin-top: 2px;
}

#profile-image {
    width: 35px;
    margin-top: 2px;
}

.breadcrumb-wrapper {
    background-color: #DADADA;
    margin: -1em;
    padding: 10px 10px 10px 50px;
}

.breadcrumb-text {
    color: #4B4B4B;
    font-family: "Century Gothic";
}

.breadcrumb-active {
    color: #D62828;
    font-family: "Century Gothic";
}

.container-pads {
    padding-left: 150px;
    padding-right: 150px;
}

.header {
    font-family: "Century Gothic";
    font-size: 18px;
    font-weight: bold;
    color: #D62828;
}

#select-txt {
    padding-left: 8px;
    margin-left: 36px;
    font-family: "Century Gothic";
    font-size: 20px;
}

#delete-txt {
    padding: 6px;
    margin-left: 0px;
    font-family: "Century Gothic";
    font-size: 20px;
}

#checkbox-mini-0 {
    margin-top: -1px;
    padding-right: 61px;
}

#delete-icon {
    margin-left: 140px;
}

#checkbox-select-all {
    margin-top: 30px;
}

.left-wrapper {
    width: 40px !important;
}

.card {
    margin: 20px 0px 10px 0px;
    border-radius: 10px;
    background-color: white;
    height: 150px;
}

.heart-wrapper {
    text-align: left;
    padding: 2px 0 0 10px;
}

#heart {
    width: 20px;
    margin-top: 5px;
}

#check {
    margin-left: -139px;
    padding-bottom: 58px;
}

.card-content {
    padding: 5px 20px 5px 20px;
}

#product-image {
    width: 100px;
}

#nutella {
    width: 125px;
    margin-top: 15px;
}

.middle-wrapper {
    width: 100px !important;
}

.right-wrapper {
    width: 265px !important;
    margin-left: 15px;
    padding: 10px 0 10px 15px;
}

.producttitle {
    font-family: "Century Gothic";
    color: #f77f00;
    font-weight: bold;
    font-size: 14px;
}

.price {
    font-family: "Century Gothic";
    color: #070707;
    font-weight: bold;
    font-size: 14px;
}

.rating1 {
    float: right;
}

#rating-star1 {
    width: 15px;
}

#minus1 {
    height: 19.2px;
    padding: 0.3em 0em;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
    margin-right: -2px;
}

#plus1 {
    height: 19.2px;
    padding: 0.3em 0em;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
    margin-left: -2px;
}

.ui-input-text {
    border-width: 0 !important;
    border-style: none;
    margin: 0.58em 0;
}

.ui-input-text input {
    text-align: right !important;
}

#quantity1 {
    border: 1px solid #CCCCCC;
    border-radius: 0;
    height: 31px;
    margin-top: -1px;
    font-size: 14px;
    background-color: white;
}

.quantity1 {
    width: 100px;
    margin-left: -5px;
    /* text-align: center; */
    /* display: inline; */
}

.add-to-cart {
    text-align: center;
}

#add-to-cart1 {
    background-color: #F77F00;
    display: inline-block;
    border-radius: 50px;
    width: 167px;
    font-family: "Century Gothic";
    color: white;
    font-size: 12px;
    height: 35px;
    padding: 1em 1em;
    border: none !important;
    text-shadow: none !important;
    font-weight: bold;
    margin-left: 15px;
}

#BuyNow1 {
    background-color: #34AD48;
    display: inline-block;
    border-radius: 50px;
    width: 167px;
    font-family: "Century Gothic";
    color: white;
    font-size: 12px;
    height: 35px;
    padding: 1em 1em;
    border: none !important;
    text-shadow: none !important;
    font-weight: bold;
    margin-left: 9px;
}

#share-icon {
    margin-top: 9px;
}

.hr1 {
    border-top: 1px solid #A1A1A1;
}

.details {
    text-align: center;
}

.subtot {
    margin-top: 10px;
    margin-left: 20px;
    color: #A1A1A1;
    font-family: "Century Gothic";
    font-size: 16px;
}

.subprice {
    margin-left: 193px;
}

.subtot1 {
    margin-top: 1px;
    margin-left: 20px;
    color: #A1A1A1;
    font-family: "Century Gothic";
    font-size: 16px;
}

.subprice1 {
    margin-left: 140px;
}

.subtot2 {
    margin-top: 1px;
    margin-left: 20px;
    color: #A1A1A1;
    font-family: "Century Gothic";
    font-size: 16px;
}

.subprice2 {
    margin-left: 136px;
}

.subtot3 {
    margin-top: 30px;
    margin-left: 20px;
    color: #0F0E0E;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 18px;
}

.subprice3 {
    margin-left: 158px;
    color: #D62828;
}

#share-2 {
    width: 14px;
    float: right;
}

.ui-footer {
    padding: 15px 40px;
    background-color: #D62828 !important;
}

.spreemart-title {
    font-family: "Century Gothic";
    color: white;
    font-size: 14px;
    text-shadow: none !important;
}

.spreemart-copyright {
    font-family: "Century Gothic";
    font-style: italic;
    font-weight: 100;
    color: white;
    font-size: 14px;
    text-shadow: none !important;
}

.social-media-wrapper {
    text-align: right;
    margin-top: 10px;
}

#social-media {
    width: 20px;
    margin-right: 10px;
}

@media only screen and (min-device-width: 1024px) {
    .right-wrapper {
        width: 500px !important;
        margin-left: 30px;
        padding: 30px 10px 10px 15px;
    }
    #share-2 {
        width: 15px;
        float: right;
    }
    #nutella {
        margin-left: 0px;
    }
    #checkbox-select-all {
        margin-top: 55px;
    }
    .producttitle {
        font-size: 18px;
    }
    .price {
        font-size: 20px;
    }
    .rating1 {
        float: right;
    }
    #rating-star1 {
        width: 20px;
    }
    .subtot3 {
        font-size: 20px;
    }
    #delete-icon {
        margin-left: 250px;
    }
    .open>.dropdown-menu-profile {
        display: block;
        position: fixed;
    }
    .dropdown-menu-profile {
        display: none;
        right: 40px;
        width: 150px;
        height: 137px;
        z-index: 1000000000000000000000;
        background: white;
        margin-top: 10px;
    }
    .dropdown-item {
        border-bottom: 1px solid gray;
        border-width: 0;
        padding: 8px 18px;
        background-color: white !important;
        width: 150px;
        font-family: "Century Gothic";
        font-weight: 100 !important;
        color: #4B4B4B !important;
        font-size: 16px !important;
        text-align: left;
    }
    .my-drop {
        background-color: white !important;
        border-width: 0;
        padding: 0 0em;
        margin: 0em 0;
        -webkit-box-shadow: none !important;
    }
}
