/* Cards
Product title font-size: 12px
Product price font-size: 14px */

#Favourites{
    background-color: #f1f1f1;
}

.card{
    margin: 20px 0px 10px 0px;
    border-radius: 10px;
    background-color: white;
    height: 150px;
}

.heart-wrapper{
    text-align: left;
    padding: 2px 0 0 10px;
}

#heart{
    width: 20px;
    margin-top: 5px;
}

#check{
    margin-left: -139px;
    padding-bottom: 58px;
}

.card-content{
    padding: 5px 20px 5px 20px;
}

#product-image{
    width: 100px;
}

#nutella{
    margin-left: -7px;
    width: 94px;
    margin-top: 22px;
}

.middle-wrapper{
    width: 100px !important;
}

.right-wrapper{
    width: 205px !important;
    margin-left: -15px;
    padding: 10px 0 10px 15px;
}

.producttitle{
    font-family: "Century Gothic";
    color: #f77f00;
    font-weight: bold;
    font-size: 14px;
}

.price{
    font-family: "Century Gothic";
    color: #070707;
    font-weight: bold;
    font-size: 14px;
}

.rating1{
    /* margin-left: 30px; */
    float: right;

}

#rating-star1{
    width: 15px;
}

#minus1{
    height: 30.5px;
    padding: 0.3em 0em;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
    margin-right: -2px;
}

#plus1{
    height: 30.5px;
    padding: 0.3em 0em;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
    margin-left: -2px;
}

.ui-input-text{
    border-width: 0 !important;
    border-style: none;
    margin: 0.65em 0;
}

.ui-input-text input{
    text-align: right !important;
}

#quantity1{
    border: 1px solid #CCCCCC;
    border-radius: 0;
    height: 31px;
    margin-top: -1px;
    font-size: 14px;
    background-color: white;
}

.quantity1{
    width: 100px;
    margin-left: -5px;
    /* text-align: center; */
    /* display: inline; */
}

.add-to-cart{
    text-align: center;
}

#add-to-cart1{
    background-color: #34AD48;
    display: inline-block;
    border-radius: 50px; 
    font-family: "Century Gothic";
    color: white;
    font-size: 9px;
    padding: 1em 1em;
    border: none !important;
    text-shadow: none !important;
    font-weight: bold;
}

#BuyNow1{
    background-color: #F77F00;
    display: inline-block;
    border-radius: 50px;
    font-family: "Century Gothic";
    color: white;
    font-size: 9px;
    padding: 1em 1em;
    border: none !important;
    text-shadow: none !important;
    font-weight: bold;
}

.ui-footer{
    padding: 15px 40px;
    background-color: #D62828 !important;
}

.spreemart-title{
    font-family: "Century Gothic";
    color: white;
    font-size: 14px;
    text-shadow: none !important;
}

.spreemart-copyright{
    font-family: "Century Gothic";
    font-style: italic;
    font-weight: 100;
    color: white;
    font-size: 12px;
    text-shadow: none !important;
}

.social-media-wrapper{
    text-align: right;
    margin-top: 7px;
}

#social-media{
    width: 15px;
    margin-left: 4px;
}

.fav-heading{
  font-family: "Century Gothic";
  color: #D62828;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 3px;
  padding: 8px;
}

#select-txt{
  padding-left: 8px;
  margin-left: 36px;
}

#delete-txt{
  padding: 6px;
}

#checkbox-mini-0{
  margin-top: 0px;
  padding-right: 61px;
}

#delete-icon{
  margin-top: 10px;
  margin-left: 10px;
}

#share-icon{
  margin-top: 9px;
}

#checkbox-select-all{
  margin-top: 30px;
}

.left-wrapper{
  width: 40px !important;
}

.open>.dropdown-menu-profile {
    display: block;
    position: fixed;
}

.dropdown-menu-profile {
    display: none;
    right: 40px;
    width: 150px;
    height: 137px;
    z-index: 1000000000000000000000;
    background: white;
    margin-top: 10px;
}

.dropdown-item {
    border-bottom: 1px solid gray;
    border-width: 0;
    padding: 8px 18px;
    background-color: white !important;
    width: 150px;
    font-family: "Century Gothic";
    font-weight: 100 !important;
    color: #4B4B4B !important;
    font-size: 16px !important;
    text-align: left;
}

.my-drop {
    background-color: white !important;
    border-width: 0;
    padding: 0 0em;
    margin: 0em 0;
    -webkit-box-shadow: none !important;
}

#share-2{
    width: 14px;
    /* margin-left: 25px; */
    float: right;
}

@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : portrait){}
