.row {
    width: 103%;
}

.ui-header {
    padding: 15px 40px;
    background-color: white !important;
    border: none !important;
}

#hamburger {
    width: 35px;
    margin-top: 8px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 68px;
    left: 0;
    border-right: 1px solid #F1F1F1;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    width: 270px;
    font-size: 16px !important;
    font-family: "Century Gothic";
    color: #4B4B4B;
    font-weight: 100;
    border-left: none;
    border-color: #f1f1f1 !important;
    border-bottom: 1px solid #f1f1f1 !important;
    text-align: left;
    background-color: white !important;
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.item-list {
    top: -30px;
}

.item-heading {
    font-weight: 700 !important;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    font-size: 36px !important;
    /* margin-left: 50px; */
    background-color: white;
    border: none;
    right: 5px;
    text-align: right;
    top: -25px;
}

#logo {
    width: 180px;
}

.header-right-wrapper {
    text-align: right;
}

#cart {
    width: 35px;
    margin-right: 20px;
    margin-top: 2px;
}

#profile-image {
    width: 35px;
    margin-top: 2px;
}

.breadcrumb-wrapper {
    background-color: #DADADA;
    margin: -1em;
    padding: 10px 10px 10px 50px;
}

.breadcrumb-text {
    color: #4B4B4B;
    font-family: "Century Gothic";
}

.breadcrumb-active {
    color: #D62828;
    font-family: "Century Gothic";
}

#Cards {
    background-color: #f1f1f1;
}

.card {
    margin: 20px 0px 10px 0px;
    border-radius: 10px;
    background-color: white;
    height: 150px;
    width: 355px;
}

.heart-wrapper {
    text-align: left;
    padding: 2px 0 0 10px;
}

#heart {
    width: 20px;
    margin-top: 5px;
}

#check {
    margin-left: -139px;
    padding-bottom: 58px;
}

.card-content {
    padding: 5px 20px 5px 20px;
}

#product-image {
    width: 100px;
}

#nutella {
    width: 100px;
    margin-top: 8px;
}

.middle-wrapper {
    width: 100px !important;
}

.right-wrapper {
    width: 205px !important;
    margin-left: -15px;
    padding: 10px 0 10px 15px;
}

.producttitle {
    font-family: "Century Gothic";
    color: #f77f00;
    font-weight: bold;
    font-size: 14px;
}

.price {
    font-family: "Century Gothic";
    color: #070707;
    font-weight: bold;
    font-size: 14px;
}

.rating1 {
    margin-left: 30px;
}

#rating-star1 {
    width: 15px;
}

#minus1 {
    height: 30.2px;
    padding: 0.3em 0em;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
    margin-right: -2px;
}

#plus1 {
    height: 30.2px;
    padding: 0.3em 0em;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
    margin-left: -2px;
}

.ui-input-text {
    border-width: 0 !important;
    border-style: none;
    margin: 0.58em 0;
}

.ui-input-text input {
    text-align: right !important;
}

#quantity1 {
    border: 1px solid #CCCCCC;
    border-radius: 0;
    height: 31px;   
     margin-top: -0.5px;
    font-size: 14px;
    background-color: white;
}

.quantity1 {
    width: 100px;
    margin-left: -5px;
    /* text-align: center; */
    /* display: inline; */
}

.add-to-cart {
    text-align: center;
}

#add-to-cart{
    background-color: #34AD48;
    display: inline-block;
    border-radius: 50px;
    font-family: "Century Gothic";
    color: white;
    font-size: 9px;
    padding: 1em 1em;
    border: none !important;
    text-shadow: none !important;
    font-weight: bold;
}

#BuyNow1 {
    background-color: #F77F00;
    display: inline-block;
    border-radius: 50px;
    font-family: "Century Gothic";
    color: white;
    font-size: 9px;
    padding: 1em 1em;
    border: none !important;
    text-shadow: none !important;
    font-weight: bold;
}

.ui-footer {
    padding: 15px 40px;
    background-color: #D62828 !important;
}

.spreemart-title {
    font-family: "Century Gothic";
    color: white;
    font-size: 14px;
    text-shadow: none !important;
}

.spreemart-copyright {
    font-family: "Century Gothic";
    font-style: italic;
    font-weight: 100;
    color: white;
    font-size: 12px;
    text-shadow: none !important;
}

.social-media-wrapper {
    text-align: right;
    margin-top: 7px;
}

#social-media {
    width: 15px;
    margin-left: 4px;
}

.fav-heading {
    font-family: "Century Gothic";
    color: #D62828;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 3px;
    padding: 8px;
}

#select-txt {
    padding-left: 8px;
    margin-left: 36px;
}

#delete-txt {
    padding: 6px;
}

#checkbox-mini-0 {
    margin-top: 0px;
    padding-right: 61px;
}

#delete-icon {
    margin-left: 10px;
}

#share-icon {
}

#checkbox-select-all {
    margin-top: 30px;
}

.left-wrapper {
    width: 40px !important;
}

#share-2 {
    width: 14px;
    margin-left: 25px;
}

.ui-popup-container {
    top: 115px !important;
    left: 265px !important;
}

#sharepopup {
    width: 500px;
    height: 225px;
    background-color: white;
    border-color: white;
}

.share-title {
    font-family: "Century Gothic";
    color: #0D0C0C;
    font-size: 18px;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: bold;
}

.share-subtitle {
    font-family: "Century Gothic";
    color: #A1A1A1;
    font-size: 15px;
    text-align: center;
    text-shadow: none;
}

.share-content {
    padding: 15px 40px;
}

#social-media-share {
    margin-right: 25px;
    width: 60px;
}


#submit-mail {
    background-color: #F77F00;
    display: inline-block;
    border-radius: 50px;
    position: relative;
    width: 120px;
    font-family: "Century Gothic";
    color: white;
    font-size: 13px;
    height: 44px;
    padding: 1em 1em;
    border: none !important;
    text-shadow: none !important;
    font-weight: bold;
}


@media only screen and (min-device-width: 1024px) {
    .card {
        margin-left: 70px;
    }
    .fav-heading {
        margin-left: 60px;
    }
    #delete-icon {
        margin-left: 110px;
    }
    #checkbox-mini-0 {
        margin-top: 0px;
        margin-left: 60px;
    }
    #select-txt {
        margin-left: 100px;
    }
    #share-icon {
        margin-left: 120px;
    }
    
}

.open>.dropdown-menu-profile {
    display: block;
    position: fixed;
}
.dropdown-menu-profile {
    display: none;
    right: 40px;
    width: 150px;
    height: 137px;
    z-index: 1000000000000000000000;
    background: white;
    margin-top: 10px;
}
.dropdown-item {
    border-bottom: 1px solid gray;
    border-width: 0;
    padding: 8px 18px;
    background-color: white !important;
    width: 150px;
    font-family: "Century Gothic";
    font-weight: 100 !important;
    color: #4B4B4B !important;
    font-size: 16px !important;
    text-align: left;
}
.my-drop {
    background-color: white !important;
    border-width: 0;
    padding: 0 0em;
    margin: 0em 0;
    -webkit-box-shadow: none !important;
}