.row {
    width: 102.5%;
}
/* #slider-image-1{
    margin: -1em;
} */

#myCarousel{
    height: 176px;
    margin: -1em;
}

.carousel-indicators{
    top: 196px;
}

.carousel-indicators li{
    background-color: #707070 !important;
    border: 1px solid #707070 !important;
}

.carousel-indicators .active {
    background-color: transparent !important;
}

.carousel-control-prev{
    position: absolute;
    top: 130px;
}

.carousel-control-next{
    position: absolute;
    top: 130px;
    right: 0;
}

.carousel-inner>.item>img{
    display: block;
    max-width: none !important;
    height: 180px !important;
}

#control-arrow{
    margin-top: -70px;
    width: 30px;
}


.product-grid{
    margin-top: 40px;
}

.search-wrapper{
    margin: 20px 20px 10px 20px;
}

#search{
    border: none;
    border-color: white !important;
    border-radius: 50px;
    background-color: white;
    height: 46px;
    width: 320px;
    text-align: left;
    padding: 0 40px;
    margin-left: -22px;
    font-size: 16px;
    font-family: "Century Gothic";
    /* position: relative; */
}

.ui-input-text{
    border-radius: 50px;
}

#search-icon{
    position: absolute;
    width: 22px;
    /* bottom: 30px; */
    right: 47px;
    top: 291px;
}

.section-header{
    padding-bottom: 18px;
    font-family: "Century Gothic";
    color: #D62828;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 10px;
    margin-left: -9px;
    letter-spacing: 3px;
}


#Landing-page{
    background-color: #f1f1f1;
}
.card{
    width: 140px;
    margin: 10px 10px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.heart-wrapper{
    text-align: left;
    padding: 2px 0 0 10px;
}

#heart{
    width: 15px;
}

.card-content{
    padding: 5px 20px 5px 20px;
}

#product-image{
    width: 100px;
    height: 100px;
}

.product-title{
    font-family: "Century Gothic";
    color: #f77f00;
    font-weight: bold;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 2px;
    max-height: 15px;
    overflow-y: hidden;
}

.price{
    font-family: "Century Gothic";
    color: #070707;
    font-weight: bold;
    font-size: 14px;
}

.rating{
    margin: 5px 0;
    display: none;
}

#rating-star{
    width: 15px;
}

#minus{
    height: 32.2px;
    padding: 0.3em 0em;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
    margin-right: -2px;
}

#plus{
    height: 32.2px;
    padding: 0.3em 0em;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
    margin-left: -2px;
}

.ui-input-text{
    border-width: 0 !important;
    border-style: none;
    margin: 0.58em 0;
}

.ui-input-text input{
    text-align: right !important;
}

#quantity{
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
}

.quantity{
    width: 100px;
    /* text-align: center; */
    /* display: inline; */
    margin: auto;
}

.add-to-cart{
    text-align: center;
}

#add-to-cart{
    background-color: #34AD48;
    display:inline-block;
    border-radius: 50px;
    margin-top: 2px;
    width: 100px;
    font-family: "Century Gothic";
    color: white;
    font-size: 11px;
    height: 35px;
    padding: 1em 1em;
    border: none !important;
    text-shadow: none !important;
    font-weight: bold;
}

.special-promotion-text{
    color: #707070;
    margin: 20px 30px 0 30px;
}

.special-promotion-grid{
    border: 1px solid #f77f00;
    margin-bottom: 10px;
}

#special-promotion{
    width: 335px;
    margin-left: -9px;
}

.special-promotion-button{
    text-align: center;
}

#special-promotion-enter{
    background-color: #f77f00;
    display: inline-block;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 130px;
    font-family: "Century Gothic";
    color: white;
    font-size: 13px;
    height: 44px;
    padding: 1em 1em;
    border: none !important;
    text-shadow: none !important;
    font-weight: bold;
}

.old-price{
    font-family: "Century Gothic";
    color: #A1A1A1;
    /* font-weight: bold; */
    font-size: 14px;
    text-decoration: line-through;
}

.discount-wrapper{
    position: absolute;
    margin-left: 185px;
    top: -10px;
}

#discount-percent{
    margin-left: -122px;
}

#promotion-poster{
    width: 345px;
    margin-left: -15px;
}


.ui-footer{
    padding: 15px 40px;
    background-color: #D62828 !important;
}

.spreemart-title{
    font-family: "Century Gothic";
    color: white;
    font-size: 14px;
    text-shadow: none !important;
}


/* @import url("Landing page-iPad.css")only screen and (min-device-width: 375px) and (max-device-width: 812px); */

@import url("Landing page-iPad.css") (min-device-width: 375px);

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .card {
        width: 264px;
        margin: 10px 49px;
        border-radius: 10px;
        background-color: white;
        text-align: center;
    }

    #discount-percent {
        margin-left: 33px;
    }
    
    #promotion-poster {
        width: 495px;
        margin-left: 113px;
    }
        
    #special-promotion {
        width: 481px;
        margin-left: 111px;
    }

        #search-icon {
            position: absolute;
            width: 22px;
            /* bottom: 30px; */
            right: 81px;
            top: 291px;
            /* margin-left: -22px; */
        }
}

.spreemart-copyright{
    font-family: "Century Gothic";
    font-style: italic;
    font-weight: 100;
    color: white;
    font-size: 14px;
    text-shadow: none !important;
}

.social-media-wrapper{
    text-align: right;
    margin-top: 10px;
}

#social-media{
    width: 20px;
    margin-right: 10px;
}
.open>.dropdown-menu-profile {
    display: block;
    position: fixed;
}

.dropdown-menu-profile {
    display: none;
    right: 40px;
    width: 150px;
    height: 137px;
    z-index: 1000000000000000000000;
    background: white;
    margin-top: 10px;
}

.dropdown-item {
    border-bottom: 1px solid gray;
    border-width: 0;
    padding: 8px 18px;
    background-color: white !important;
    width: 150px;
    font-family: "Century Gothic";
    font-weight: 100 !important;
    color: #4B4B4B !important;
    font-size: 16px !important;
    text-align: left;
}

.my-drop {
    background-color: white !important;
    border-width: 0;
    padding: 0 0em;
    margin: 0em 0;
    -webkit-box-shadow: none !important;
}

#first-slider{
    width: 815px;
    min-height: 285px;
}

.product-grid {
    margin-top: 120px;
}