#Login{
    background-image:url("../Images/LoginBackground.png") ;
}

#logo-icon {
    width: 147px;
    height: 129px;
}
a{
    font-family: "Century Gothic";
    color: #D62828;
    font-size: 14px;
    text-decoration: underline;
}

#links{
    font-family: "Century Gothic";
    color: #D62828;
    font-size: 14px;
    text-decoration: underline;
    font-weight: normal;
}

.login-header{
    margin-top: -20px;
    font-family: "Century Gothic";
    color: #D62828;
    font-weight: bold;
    font-size: 41px;
    letter-spacing: 3px;
}

#login-btn{
    background-color: #D62828;
    display:inline-block;
    border-radius: 50px;
    margin-top: 23px;
    margin-left: -15px;
    width: 128px;
    font-family: "Century Gothic";
    color: white;
    font-size: 16px;
    height: 44px;
    padding: 10px;
    border: none !important;
    text-shadow: none !important;
    font-weight: bold;
}   

.sign-up-message{
    margin-left: 80px;
    margin-top: -9px;
    font-family: "Century Gothic";
    color: #A4A0A0; 
    font-size: 14px;
    font-weight: normal;
}

.white-box{
    padding: 30px;
    background-color:rgb(255, 255, 255, .9);
    text-align: center;
    width: 321px;
    height: 480px;
    border-radius: 10px;
    margin-left: 13px;
    margin-top: 25px;
}

/* .text-line{
        background-color: transparent;
        color: #eeeeee;
        outline: none;
        outline-style: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid #eeeeee 1px;
        padding: 3px 10px;
} */

#text-line{
    background-color: white;
    border: none !important;
    box-shadow: none !important;
    outline: 0;
    border-radius: unset;
    border-bottom: 1px solid #BDC4CC !important;
    /* height: 60px; */
    /* width: 200%; */
    text-align: left;
    /* padding: 0 40px; */
    font-size: 16px;
    font-family: "Century Gothic";
    position: relative;
}

.social-sign-message{
    margin-left: 50px;  
    opacity: 73%; 
}

#social-btn{
    border-radius: 1px;
    border-color: #DDDDDD;
    width: 299px;
    margin-left: -18px;
    box-shadow: none;
    padding: 10px;
    font-family: "Century Gothic";
    color: #000000; 
    font-size: 14px;
    font-weight: normal;
    
}

#field-lbl{
    text-align: left !important;
    font-family: "Century Gothic";
    color: #000000; 
    font-size: 14px;
    font-weight: normal;
    
}

.forgot-password{
    text-align: left; 
    font-family: "Century Gothic";
    color: #D62828;
    font-size: 14px;
    text-decoration: underline;
    font-weight: normal;
    
}

#or-text{
    font-family: "Century Gothic";
    color: black;
    font-size: 18px;
}
