#Login{
    background-image:url("../Images/back2.jpg") ;
}

#logo-icon {
    width: 200px;
}

#links{
    font-family: "Century Gothic";
    color: #D62828;
    font-size:20px;
    text-decoration: underline;
    font-weight: normal;
}

.login-header{
    margin-top: -35px;
    font-family: "Century Gothic";
    color: #D62828;
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 3px;
    margin-left: -10px;
}

.ui-input-text{
    border-width: 0 !important; 
    border-style: none;
    margin: 0.58em 0;
}

.ui-input-text input{
    text-align: left !important;
}

#login-btn{
    background-color: #D62828;
    display:inline-block;
    border-radius: 50px;
    margin-top: 23px;
    width: 128px;
    font-family: "Century Gothic";
    color: white;
    font-size: 16px;
    height: 44px;
    padding: 10px;
    border: none !important;
    text-shadow: none !important;
    font-weight: bold;
}   

.sign-up-message{
    font-size: 20px !important;
    font-family: "Century Gothic";
    color: #A4A0A0; 
    font-size: 14px;
    font-weight: normal;
}

.white-box{
    padding: 45px 30px;
    background-color: rgb(255, 255, 255, .9);
    text-align: center;
    width: 475px;
    height: 520px;
    border-radius: 10px;
    margin-left: 130px;
    margin-top: 25px;
    margin-bottom: 110px;

}

/* .text-line{
        background-color: transparent;
        color: #eeeeee;
        outline: none;
        outline-style: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid #eeeeee 1px;
        padding: 3px 10px;
} */

#text-line{
    background-color: rgb(255, 255, 255, .9);
    border: none !important;
    box-shadow: none !important;
    outline: 0;
    border-radius: unset;
    border-top: 1px solid rgb(255, 255, 255, .9) !important;
    border-bottom: 1px solid #BDC4CC !important;
    /* height: 60px; */
    /* width: 200%; */
    text-align: left;
    /* padding: 0 40px; */
    font-size: 16px;
    font-family: "Century Gothic";
    position: relative;
}

.social-sign-message{
    margin-left: 50px;  
    opacity: 73%; 
}

#social-btn{
    border-radius: 1px;
    border-color: #DDDDDD;
    width: 330px;
    box-shadow: none;
    padding: 10px;
    font-family: "Century Gothic";
    color: #000000; 
    font-size: 14px;
    font-weight: normal;
    
}

#field-lbl{
    text-align: left !important;
    font-family: "Century Gothic";
    color: #000000; 
    font-size: 18px;
    font-weight: normal;
    opacity: 50%;
    
}

.forgot-password{
    text-align: left; 
    font-family: "Century Gothic";
    color: #D62828;
    font-size: 14px;
    text-decoration: underline;
    font-weight: normal;
    
}

#or-text{
    font-family: "Century Gothic";
    color: black;
    font-size: 18px;
}

.ui-footer{
    padding: 15px 40px;
    background-color: #D62828 !important;
}

.spreemart-title{
    font-family: "Century Gothic";
    color: white;
    font-size: 14px;
    text-shadow: none !important;
}

.spreemart-copyright{
    font-family: "Century Gothic";
    font-style: italic;
    font-weight: 100;
    color: white;
    font-size: 14px;
    text-shadow: none !important;
}

.social-media-wrapper{
    text-align: right;
    margin-top: 10px;
}

#social-media{
    width: 20px;
    margin-right: 10px;
} 

.alert-box{
    margin: 30px 15px 0 15px;
}

.alert-left{
    width: 10% !important;
    background-color: #D62828;
    padding: 6px;
}

.alert-right{
    width: 90% !important;
    background-color: #f0cdcd;
    padding: 6px;
    font-family: "Century Gothic";
    color: #D62828;
    font-size: 14px;
    text-shadow: none !important;
    text-align: left;
}

#cross-icon{
    width: 20px;
}


@media only screen and (min-device-width: 1024px) {
    .white-box {
        margin-left: 255px;
    }
    #Login{
        background-image: url("../Images/basic-landscape.png");
        height: 700px;
    }
}