.button-wrapper {
    text-align: center;
    margin-top: 20px;
}

#add-to-cart {
    background-color: #34AD48;
    display: inline-block;
    border-radius: 50px;
    margin-top: 5px;
    /* width: 110px; */
    font-family: "Century Gothic";
    color: white;
    font-size: 13px;
    padding: 1em 1em;
    border: none !important;
    text-shadow: none !important;
    font-weight: bold;
    font-size: 20px;
}

.title{
    font-family: "Century Gothic";
    color: #f77f00;
    font-weight: bold;
    font-size: 36px;
    margin-top: 4px;
    margin-bottom: 2px;
}

#pay-image{
    width: 150px;
}

.payment-card{
    width: 500px;
    background-color: #f1f1f1;
    border-radius: 50px;
    padding: 93px 30px 30px 30px;
    height: 500px;
}