/* Cards
Product title font-size: 12px
Product price font-size: 14px */

#Cards{
    background-color: #f1f1f1;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    
    .card {
        width: 258px !important;
        margin: 10px 50px !important;
        border-radius: 10px;
        background-color: white;
        text-align: center;
    }

    .ui-input-search:after {
             display: none !important;
    }

}

.card{
    display: inline-block;
    width: 140px;
    margin: 10px 10px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.heart-wrapper{
    text-align: left;
    padding: 6px 0 0 10px;
}

#heart{
    width: 15px;
}

.card-content{
    padding: 5px 20px 5px 20px;
}

#product-image{
    width: 100px;
    height:  100px;
}

.product-title{
    font-family: "Century Gothic";
    color: #f77f00;
    font-weight: bold;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 2px;
    max-height: 15px;
    overflow-y: hidden;
}

.price{
    font-family: "Century Gothic";
    color: #070707;
    font-weight: bold;
    font-size: 14px;
}

.rating{
    margin: 5px 0;
    display: none;
}

#rating-star{
    width: 15px;
}

#minus{
    height: 32.2px;
    padding: 0.3em 0em;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
    margin-right: -2px;
}

#plus{
    height: 32.2px;
    padding: 0.3em 0em;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
    margin-left: -2px;
}

.ui-input-text{
    border-width: 0 !important;
    border-style: none;
    margin: 0.58em 0;
}

.ui-input-text input{
    text-align: right !important;
}

#quantity{
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
}

.quantity{
    width: 100px;
    /* text-align: center; */
    /* display: inline; */
    margin: auto;
}

.add-to-cart{
    text-align: center;
}

#add-to-cart{
    background-color: #34AD48;
    display:inline-block;
    border-radius: 50px;
    margin-top: 2px;
    width: 100px;
    font-family: "Century Gothic";
    color: white;
    font-size: 11px;
    height: 35px;
    padding: 1em 1em;
    border: none !important;
    text-shadow: none !important;
    font-weight: bold;
}

.ui-footer{
    padding: 15px 40px;
    background-color: #D62828 !important;
    border: none;
}

.spreemart-title{
    font-family: "Century Gothic";
    color: white;
    font-size: 14px;
    text-shadow: none !important;
}

.spreemart-copyright{
    font-family: "Century Gothic";
    font-style: italic;
    font-weight: 100;
    color: white;
    font-size: 12px;
    text-shadow: none !important;
}

.social-media-wrapper{
    text-align: right;
    margin-top: 7px;
}

#social-media{
    width: 15px;
    margin-left: 4px;
}

.pagination-wrapper{
    text-align: center;
}

.pagination {
    display: inline-block;
  }

#pagination-number {
      color: black;
      font-family: "Century Gothic";
      float: left;
      padding: 2px 11px;
      font-size: 16px;
      font-weight: 100;
      text-decoration: none;
}

.pagination a:hover:not(.active) {
    background-color: #D62828;
    border-radius: 50%;
    color: white !important;
}

#next-icon{
    width: 21px;
}

.product-grid{
    margin: 25px 25px 5px -5px;
}

.filter-wrapper{
    border: none;
    border-color: white !important;
    border-radius: 50px;
    background-color: white;
    height: 60px;
    width: 125%;
    margin: 0.5em 0;
    text-align: left;
    padding: 5px 25px;
    font-size: 16px;
    font-family: "Century Gothic";
    position: relative;
}

#select-choice-1-button{
    background-color: white;
    border: none !important;
    box-shadow: none !important;
    outline: 0;
    text-align: left;
    font-size: 12px;
    margin-left: -20px;
    font-family: "Century Gothic";
    color: #D62828;
    font-weight: 100;
}

.ui-btn-icon-right:after {
    right: 95px;
    background-image: url(../Icons/drop-down-arrow.png);
    background-size: contain;
    background-color: rgb(255, 255, 255);
    /* height: 28px; */
    top: 50%;
    width: 15px;

}

#options{
    font-family: "Century Gothic";
    color: #D62828;
}

/* .ui-icon-carat-d:after {
    background-image: url(Icons/drop-down-arrow.png);
    background-size: contain;
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 33px;
    top: 38%;
} */

#search{
    border: none;
    border-color: white !important;
    border-radius: 50px;
    background-color: white;
    height: 60px;
    width: 200%;
    text-align: left;
    padding: 0 40px;
    font-size: 16px;
    font-family: "Century Gothic";
    position: relative;
}

.ui-input-text{
    border-radius: 50px;
}

#search-icon{
    position: absolute;
    width: 35px;
    /* bottom: 30px; */
    right: 60px;
    top: 145px;
}

.section-header{
    font-family: "Century Gothic";
    color: #D62828;
    font-weight: bold;
    font-size: 22px;
    margin: 10px 10px;
    letter-spacing: 3px;
}
.open>.dropdown-menu-profile {
    display: block;
    position: fixed;
}

.dropdown-menu-profile {
    display: none;
    right: 40px;
    width: 150px;
    height: 137px;
    z-index: 1000000000000000000000;
    background: white;
    margin-top: 10px;
}

.dropdown-item {
    border-bottom: 1px solid gray;
    border-width: 0;
    padding: 8px 18px;
    background-color: white !important;
    width: 150px;
    font-family: "Century Gothic";
    font-weight: 100 !important;
    color: #4B4B4B !important;
    font-size: 16px !important;
    text-align: left;
}

.my-drop {
    background-color: white !important;
    border-width: 0;
    padding: 0 0em;
    margin: 0em 0;
    -webkit-box-shadow: none !important;
}

.dropdown-menu {
    position: relative !important;
}

.show {
    display: inline-block !important;
}

.show-card {
    display: inline-block;
}

.hide-card {
    display: none;
}

#searchFor {
    border: none;
    border-width: 0;
    border-color: white !important;
    border-radius: 50px;
    border-top: white !important;
    background-color: white;
    height: 59px;
    width: 155%;
    margin-left: -40px;

    /* border-width: 0; */
    text-align: left;
    /* padding: 0 40px; */
    font-size: 14px;
    font-family: "Century Gothic";
    position: relative;
}

.ui-body-inherit
{
    border-color: #fff !important;
    border-radius: 50px;
}

.ui-input-text {
    border-radius: 50px;
}

#search-icon {
    position: absolute;
    width: 35px;
    /* bottom: 30px; */
    right: 70px;
    top: 127px;
}

.ui-input-search:after {
    left: 13.3125em;
}

.ui-btn.ui-input-clear, .ui-input-text.ui-input-has-clear .ui-btn.ui-input-clear {
    right: 46px !important;
}


.ui-popup-container {
    
    top: 311px !important;
    left: 28px !important;
}

#sharepopup {
    width: 500px;
    height: 225px;
    background-color: white;
    border-color: white;
}

.share-title {
    font-family: "Century Gothic";
    color: #0D0C0C;
    font-size: 18px;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: bold;
}

.share-subtitle {
    font-family: "Century Gothic";
    color: #A1A1A1;
    font-size: 15px;
    text-align: center;
    text-shadow: none;
}

.share-content {
    padding: 15px 40px;
}

#social-media-share {
    margin-right: 25px;
    width: 60px;
}

#submit-mail2 {
    background-color: #34AD48;
    display: inline-block;
    border-radius: 50px;
    position: relative;
    font-family: "Century Gothic";
    color: white;
    font-size: 13px;
    padding: 1em 1em;
    border: none !important;
    text-shadow: none !important;
    font-weight: bold;
}

#addtocartPopup{
    border-radius: 0 !important;
}
@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : portrait){}
