.row{
    width: 102.5%;
}

.ui-header{
    padding: 15px 40px;
    background-color: white !important;
    border: none !important;
}

#hamburger{
    width: 35px;
    margin-top: 8px;
}

.sidenav{
    height: 50%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 68px; 
    left: 0;
    border-right: 1px solid #F1F1F1;
    background-color: white; 
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
}
  
.sidenav a {
    width: 270px;
    font-size: 16px !important;
    font-family: "Century Gothic";
    color: #4B4B4B;
    font-weight: 100;
    border-left: none;
    border-color: #f1f1f1 !important;
    border-bottom: 1px solid #f1f1f1 !important;
    text-align: left;
    background-color: white !important;
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.item-list{
    top: -30px;
}

.item-heading{
    font-weight: 700 !important;
    top: -30px;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    font-size: 36px !important;
    /* margin-left: 50px; */
    background-color: white;
    border: none;
    right: 5px;
    text-align: right;
    top: -25px;
}

#logo{
    width: 180px;
}

.header-right-wrapper{
    text-align: right;
}

#cart{
    width: 35px;
    margin-right: 20px;
    margin-top: 2px;
}

#profile-image{
    width: 35px;
    margin-top: 2px;
}

#Profile{
    background-color: #f1f1f1;
}

.breadcrumb-wrapper{
    background-color: #DADADA;
    margin: -1em;
    padding: 10px 10px 10px 50px;
}

.breadcrumb-text{
    color: #4B4B4B;
    font-family: "Century Gothic";
}

.profile-grid{
    margin: 20px 0;
    padding: 20px 0;
}

.image-block{
    text-align: center;
}

#profile-img{
    width: 90px;
}

.profile-name{
    font-family: "Century Gothic";
    color: #D62828;
    font-weight: bold;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 2px;
}

.tab{
    background-color: white !important;
    border-color: #D62828 !important;
    color: #D62828 !important;
    text-shadow: none !important;
    width: 200px;
    text-align: center !important;
}

.active, .tab:hover {
    background-color: #666 !important;
    color: white !important;
}

#c1,#c2,#c3{
    display: none;
}

.card{
    width: 220px;
    margin: 10px 10px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.heart-wrapper{
    text-align: left;
    padding: 10px 0 0 15px;}

#heart{
    width: 25px;
}

.card-content{
    padding: 5px 20px 5px 20px;
}

#product-image{
    width: 145px;
}

.product-title{
    font-family: "Century Gothic";
    color: #f77f00;
    font-weight: bold;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 2px;
}

.price{
    font-family: "Century Gothic";
    color: #070707;
    font-weight: bold;
    font-size: 18px;
}

.rating{
    margin: 5px 0;
    display: none;
}

#rating-star{
    width: 15px;
}

#minus{
    height: 32.3px;
    padding: 0.3em 0em;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
    margin-right: -2px;
}

#plus{
    height: 32.3px;
    padding: 0.3em 0em;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
    margin-left: -2px;
}

.ui-input-text{
    border-width: 0 !important; 
    border-style: none;
    margin: 0.57em 0;
}

.ui-input-text input{
    text-align: center !important;
}

#quantity{
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
}

.quantity{
    width: 120px;
    /* text-align: center; */
    /* display: inline; */
    margin: auto;
}

.add-to-cart{
    text-align: center;
}

#add-to-cart{
    background-color: #34AD48;
    display: inline-block;
    border-radius: 50px;
    margin-top: 5px;
    /* width: 110px; */
    font-family: "Century Gothic";
    color: white;
    font-size: 13px;
    height: 44px;
    padding: 1em 1em;
    border: none !important;
    text-shadow: none !important;
    font-weight: bold;
}

.ui-footer{
    padding: 15px 40px;
    background-color: #D62828 !important;
}

.spreemart-title{
    font-family: "Century Gothic";
    color: white;
    font-size: 14px;
    text-shadow: none !important;
}

.spreemart-copyright{
    font-family: "Century Gothic";
    font-style: italic;
    font-weight: 100;
    color: white;
    font-size: 14px;
    text-shadow: none !important;
}

.social-media-wrapper{
    text-align: right;
    margin-top: 10px;
}

#social-media{
    width: 20px;
    margin-right: 10px;
} 


