#Promotions{
    background-color: #f1f1f1;
}

.ui-header{
    padding: 11px 15px;
    background-color: white !important;
    border: none !important;
}

#hamburger{
    width: 26px;
    margin-top: 8px;
    margin-left: 5px;
}



.sidenav{
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 68px;
    left: 0;
    border-right: 1px solid #F1F1F1;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    width: 270px;
    font-size: 16px !important;
    font-family: "Century Gothic";
    color: #4B4B4B;
    font-weight: 100;
    border-left: none;
    border-color: #f1f1f1 !important;
    border-bottom: 1px solid #f1f1f1 !important;
    text-align: left;
    background-color: white !important;
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.item-list{
    top: -30px;
}

.item-heading{
    font-weight: 700 !important;
    top: -30px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    font-size: 36px !important;
    /* margin-left: 50px; */
    background-color: white;
    border: none;
    right: 5px;
    text-align: right;
    top: -25px;
}

#logo{
    margin-left: -39px;
    width: 162px;
    text-align: center;
}

.header-right-wrapper{
    text-align: right;
}

#cart{
    width: 25px;
    margin-right: 20px;
    margin-top: 2px;
}

#profile-image{
    width: 25px;
    margin-top: 2px;
}

.promos{
    padding: 10px;
}

.section-header {
    font-family: "Century Gothic";
    color: #D62828;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 10px;
    letter-spacing: 3px;
}

#poster{
    width: 319px;

}

#Cards{
    background-color: #f1f1f1;
}

.card{
    width: 140px;
    margin: 10px 10px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.heart-wrapper{
    text-align: left;
    padding: 10px 0 0 15px;}

#heart{
    width: 25px;
}

.card-content{
    padding: 5px 20px 5px 20px;
}

#product-image{
    width: 100px;
}

.product-title{
    font-family: "Century Gothic";
    color: #f77f00;
    font-weight: bold;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 2px;
}

.price{
    font-family: "Century Gothic";
    color: #070707;
    font-weight: bold;
    font-size: 14px;
}

.rating{
    margin: 5px 0;
    display: none;
}

#rating-star{
    width: 15px;
}

#minus{
    height: 32.3px;
    padding: 0.3em 0em;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
    margin-right: -2px;
}

#plus{
    height: 32.3px;
    padding: 0.3em 0em;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
    margin-left: -2px;
}

.ui-input-text{
    border-width: 0 !important;
    border-style: none;
    margin: 0.57em 0;
}

.ui-input-text input{
    text-align: center !important;
}

#quantity{
    border: 1px solid #CCCCCC;
    border-radius: 0;
    background-color: white;
}

.quantity{
    width: 100px;
    /* text-align: center; */
    /* display: inline; */
    margin: auto;
}

.add-to-cart{
    text-align: center;
}

#add-to-cart{
  background-color: #34AD48;
  display:inline-block;
  border-radius: 50px;
  margin-top: 2px;
  width: 100px;
  font-family: "Century Gothic";
  color: white;
  font-size: 11px;
  height: 35px;
  padding: 1em 1em;
  border: none !important;
  text-shadow: none !important;
  font-weight: bold;
}

.old-price{
    font-family: "Century Gothic";
    color: #A1A1A1;
    /* font-weight: bold; */
    font-size: 14px;
    text-decoration: line-through;
}

.discount-wrapper{
    position: absolute;
    margin-left: 100px;
    top: -10px;
}

.special-promotion-text{
    color: #707070;
    margin: 20px 30px 0 30px;
}

.special-promotion-grid{
    border: 1px solid #f77f00;
    margin-bottom: 10px;
}

#special-promotion{
    width: 314px;
}

.special-promotion-button{
    text-align: center;
}

#special-promotion-enter{
    background-color: #f77f00;
    display: inline-block;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 130px;
    font-family: "Century Gothic";
    color: white;
    font-size: 13px;
    height: 44px;
    padding: 1em 1em;
    border: none !important;
    text-shadow: none !important;
    font-weight: bold;
}

.ui-footer{
    padding: 6px 24px 11px;
    background-color: #D62828 !important;
}

.spreemart-title{
    font-family: "Century Gothic";
    color: white;
    font-size: 14px;
    text-shadow: none !important;
}

.spreemart-copyright{
    font-family: "Century Gothic";
    font-style: italic;
    font-weight: 100;
    color: white;
    font-size: 14px;
    text-shadow: none !important;
}

.social-media-wrapper{
    text-align: right;
    margin-top: 10px;
}

#social-media{
    width: 20px;
    margin-right: 10px;
}

.line-spacing{
    height: 200px;
}

.line-spacing-cards{
    height: 320px;
}

.center-img{
    margin-left: -50px;
}
.open>.dropdown-menu-profile {
    display: block;
    position: fixed;
}

.dropdown-menu-profile {
    display: none;
    right: 40px;
    width: 150px;
    height: 137px;
    z-index: 1000000000000000000000;
    background: white;
    margin-top: 10px;
}

.dropdown-item {
    border-bottom: 1px solid gray;
    border-width: 0;
    padding: 8px 18px;
    background-color: white !important;
    width: 150px;
    font-family: "Century Gothic";
    font-weight: 100 !important;
    color: #4B4B4B !important;
    font-size: 16px !important;
    text-align: left;
}

.my-drop {
    background-color: white !important;
    border-width: 0;
    padding: 0 0em;
    margin: 0em 0;
    -webkit-box-shadow: none !important;
}


.filter-wrapper {
    border: none;
    border-color: white !important;
    border-radius: 50px;
    background-color: white;
    height: 60px;
    width: 96%;
    margin: 0.5em 0;
    text-align: left;
    padding: 5px 25px;
    font-size: 16px;
    font-family: "Century Gothic";
    position: relative;
}

#select-choice-1-button {
    background-color: white;
    border: none !important;
    box-shadow: none !important;
    outline: 0;
    text-align: left;
    margin-top: 0px;
    font-size: 18px;
    font-family: "Century Gothic";
    color: #D62828;
    font-weight: 100;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {

.promos{
    text-align: center;
}

#poster {
    width: 427px;
}
.section-header {
    font-family: "Century Gothic";
    color: #D62828;
    font-weight: bold;
    font-size: 23px;
    margin: 17px 42px 10px 42px;
    letter-spacing: 3px;
}

.card {
    width: 212px;
}
.dis-grid{
margin-left: 94px;
}

.discount-wrapper {
    position: absolute;
    margin-left: 176px;
    top: -10px;
}
}
