#SignUp,#SignUp2,#SignUp3{
    background-image:url("../Images/LoginBackground.png") ;
}

#logo-icon {
    width: 147px;
    height: 129px;
    margin-left: -10px
}

.login-header{
    margin-top: -20px;
    font-family: "Century Gothic";
    color: #D62828;
    font-weight: bold;
    width:195px;
    font-size: 41px;
    letter-spacing: 3px;
    margin-left: -20px;
    
}

.white-box{
    padding: 30px;
    background-color:rgb(255, 255, 255, .9);
    text-align: center;
    width: 321px;
    height: 553px;
    border-radius: 10px;
    margin-left: 13px;
    margin-top: 25px;
}

.circle {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#google-maps-temp{
    margin-left: -14px;
    margin-top: 53px;
}

.card-num{
    width: 209px;
}
#progress-number{
    font-family: "Century Gothic";
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 6px;
}
#progress-image{
    margin-left: -12px;
}

.personal-details-heading{
    font-family: "Century Gothic";
    color: #D62828;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    margin-left: -19px;
    margin-top: 6px;
}
.progress-line{
    border-top: 2px solid #A1A1A1;
    height: 100px;
    margin-top: -20px;
    margin-left: 49px;
}

#progress-line1{
    margin-top: -70px;
    margin-left: 43px;
}


.current-circle{
    background-color:#34AD48;
    margin-right: 101px;

}

#links{
    font-family: "Century Gothic";
    color: #D62828;
    font-size: 14px;
    text-decoration: underline;
    font-weight: normal;
}

.sign-up-message{
    margin-left: 73px;
    margin-top: -9px;
    font-family: "Century Gothic";
    color: #A4A0A0; 
    font-size: 14px;
    font-weight: normal;
}

.logo-block{
    width: 200px;
}

.ui-input-text{
    border-width: 0 !important; 
    border-style: none;
    margin: 0.58em 0;
}

.ui-input-text input{
    text-align: left !important;
}

#text-line{
    background-color: white;
    border: none !important;
    box-shadow: none !important;
    outline: 0;
    border-radius: unset;
    border-bottom: 1px solid #BDC4CC !important;
    /* height: 60px; */
    /* width: 200%; */
    text-align: left;
    /* padding: 0 40px; */
    font-size: 16px;
    font-family: "Century Gothic";
    position: relative;
}

#continue-btn,#submit-btn{
    background-color: #D62828;
    display:inline-block;
    border-radius: 50px;
    margin-top: 23px;
    margin-left: -15px;
    width: 128px;
    font-family: "Century Gothic";
    color: white;
    font-size: 16px;
    height: 44px;
    padding: 10px;
    border: none !important;
    text-shadow: none !important;
    font-weight: bold;
}

.iconblock{
    width: 5% !important;
}

.cardblock{
    width: 75% !important;
    margin-left: 52px;
}

#field-lbl{
    text-align: left !important;
    font-family: "Century Gothic";
    color: #000000; 
    font-size: 14px;
    font-weight: normal;
    opacity: 50%;
    
}
.fnameblock{
    width: 35% !important;
}

.lnameblock{
    margin-left: 13px;
    width: 60% !important;
}

.expiryblock{
    width: 45% !important;
}

.securityblock{
    margin-left: 24px;
    width: 45% !important;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    #SignUp,#SignUp2,#SignUp3{
        background-image:url("../Images/back2.jpg") ;
    }

    .white-box {
        padding: 30px;
        background-color: rgb(255, 255, 255, .9);
        text-align: center;
        width: 321px;
        height: 550px;
        border-radius: 10px;
        margin-left: 204px;
        margin-top: 25px;   
    }

    .login-header {
        margin-top: -20px;
        font-family: "Century Gothic";
        color: #D62828;
        font-weight: bold;
        font-size: 41px;
        letter-spacing: 3px;
        margin-left: 30px;
    }

    #logo-icon {
        width: 147px;
        height: 129px;
        margin-left: 26px;
    }

    .sign-up-message {
        margin-left: 240px;
        margin-top: -9px;
        font-family: "Century Gothic";
        color: #A4A0A0;
        font-size: 14px;
        font-weight: normal;
    }
}