#SignUp,
#SignUp2,
#SignUp3 {
    background-image: url("../Images/back2.jpg");
}

#logo-icon {
    width: 200px;
}

#links {
    font-family: "Century Gothic";
    color: #D62828;
    font-size: 20px;
    text-decoration: underline;
    font-weight: normal;
}

.login-header {
    margin-top: -35px;
    font-family: "Century Gothic";
    color: #D62828;
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 3px;
    margin-left: -10px;
}

.circle {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#google-maps-temp {
    width: 400px;
    margin-top: 20px;
}

.card-num {
    width: 209px;
}

#progress-number {
    font-family: "Century Gothic";
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 6px;
}

#progress-image {
    width: 360px;
}

.personal-details-heading {
    font-family: "Century Gothic";
    color: #D62828;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    /* margin-left: -19px; */
    margin-top: 6px;
    letter-spacing: 2px;
}

.progress-line {
    border-top: 2px solid #A1A1A1;
    height: 100px;
    margin-top: -20px;
    margin-left: 49px;
}

#progress-line1 {
    margin-top: -70px;
    margin-left: 43px;
}

.current-circle {
    background-color: #34AD48;
    margin-right: 101px;
}

.logo-block {
    width: 200px;
}

.ui-input-text {
    border-width: 0 !important;
    border-style: none;
    margin: 0.58em 0;
}

.ui-input-text input {
    text-align: left !important;
}

#text-line {
    background-color: rgb(255, 255, 255, .9);
    border: none !important;
    box-shadow: none !important;
    outline: 0;
    border-radius: unset;
    border-top: 1px solid rgb(255, 255, 255, .9) !important;
    border-bottom: 1px solid #BDC4CC !important;
    /* height: 60px; */
    /* width: 200%; */
    text-align: left;
    /* padding: 0 40px; */
    font-size: 16px;
    font-family: "Century Gothic";
    position: relative;
}

#continue-btn,
#submit-btn {
    background-color: #D62828;
    display: inline-block;
    border-radius: 50px;
    margin-top: 23px;
    margin-left: -15px;
    width: 128px;
    font-family: "Century Gothic";
    color: white;
    font-size: 16px;
    height: 44px;
    padding: 10px;
    border: none !important;
    text-shadow: none !important;
    font-weight: bold;
}

.iconblock {
    width: 5% !important;
}

.cardblock {
    width: 75% !important;
    margin-left: 52px;
}

.fnameblock {
    width: 35% !important;
}

.lnameblock {
    margin-left: 13px;
    width: 60% !important;
}

.expiryblock {
    width: 45% !important;
}

.securityblock {
    margin-left: 24px;
    width: 45% !important;
}

#login-btn {
    background-color: #D62828;
    display: inline-block;
    border-radius: 50px;
    margin-top: 23px;
    width: 128px;
    font-family: "Century Gothic";
    color: white;
    font-size: 16px;
    height: 44px;
    padding: 10px;
    border: none !important;
    text-shadow: none !important;
    font-weight: bold;
}

.sign-up-message {
    font-size: 20px !important;
    font-family: "Century Gothic";
    color: #A4A0A0;
    font-size: 14px;
    font-weight: normal;
}

.white-box {
    padding: 45px 30px;
    background-color: rgb(255, 255, 255, .9);
    text-align: center;
    width: 475px;
    height: 630px;
    border-radius: 10px;
    margin-left: 130px;
    margin-top: 25px;
}

#field-lbl {
    text-align: left !important;
    font-family: "Century Gothic";
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    opacity: 50%;
}

.ui-footer {
    padding: 15px 40px;
    background-color: #D62828 !important;
}

.spreemart-title {
    font-family: "Century Gothic";
    color: white;
    font-size: 14px;
    text-shadow: none !important;
}

.spreemart-copyright {
    font-family: "Century Gothic";
    font-style: italic;
    font-weight: 100;
    color: white;
    font-size: 14px;
    text-shadow: none !important;
}

.social-media-wrapper {
    text-align: right;
    margin-top: 10px;
}

#social-media {
    width: 20px;
    margin-right: 10px;
}

@media only screen and (min-device-width: 1024px) {
    .white-box {
        margin-left: 255px;
    }
    #SignUp,
    #SignUp2,
    #SignUp3 {
        background-image: url("../Images/basic-landscape.png");
        position: absolute;
    }
}