
#tabs{
    padding-bottom: 20px;
    width: 352px;
    margin-left: -19px;
}

.tab{
    background-color: white !important;
    border-color: #D62828 !important;
    color: #D62828 !important;
    text-shadow: none !important;
    text-align: center !important;
    font-family: "Century Gothic";
    letter-spacing: 2px;
    font-size: 12px !important;
}

.tab:hover, .tab:focus, .tab:active {
    background-color: #D62828 !important;
    color: white !important;
}

.ui-body-d {
    background-color: white;
    border-right: 1px solid #D62828;
    border-left: 1px solid #D62828;
    border-bottom: 1px solid #D62828;
}

.Guide{
  font-family: "Century Gothic";
  color: #f77f00;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
}

#field-lbl{
  font-family: "Century Gothic";
  color: #000000;
  outline-color: #707070;
  font-weight: regular;
  font-size: 12px;
  opacity: 0.5;
}


.what{
  font-family: "Century Gothic";
  outline-color: #707070;
  color: #000000;
  font-weight: regular;
  font-size: 14px;
  opacity: 0.5;
}

#textarea-1{
  height: 139px;
}
.ui-footer{
    padding: 15px 40px;
    background-color: #D62828 !important;
}

.spreemart-title{
    font-family: "Century Gothic";
    color: white;
    font-size: 14px;
    text-shadow: none !important;
}

.spreemart-copyright{
    font-family: "Century Gothic";
    font-style: italic;
    font-weight: 100;
    color: white;
    font-size: 12px;
    text-shadow: none !important;
}

.social-media-wrapper{
    text-align: right;
    margin-top: 7px;
}

#social-media{
    width: 15px;
    margin-left: 4px;
}
#text-box{
      height: 132px;
}

.ui-input-text{
    border-width: 0 !important;
    border-style: none;
    margin: 0.58em 0;
}

.ui-input-text input{
    text-align: right !important;
}

#text-line{
    background-color: white;
    border: none !important;
    box-shadow: none !important;
    outline: 0;
    border-radius: unset;
    border-bottom: 1px solid #BDC4CC !important;
    /* height: 60px; */
    /* width: 200%; */
    text-align: left;
    /* padding: 0 40px; */
    font-size: 16px;
    font-family: "Century Gothic";
    position: relative;
}

.download{
  text-align: center;
  font-size: 14px;
  font-family:"Century Gothic";
}

.grey-area{
  background-color: #F1F1F1;
  width: 318px;
  height: 507px;
  padding: 20px;
}
#collapse{
  background-color: white;
  color: white;
}

.ui-collapsible-heading.ui-collapsible-heading-collapsed{
  margin-left: 1px;

}
.ui-collapsible-inset .ui-collapsible-heading .ui-btn {
    border: none;
    background-color: white;
    height: 44px;
    font-family: "Century Gothic";
    font-size: 11.5px;
    color: #000000;
    opacity: 50%;
    outline-color: #707070;
    font-weight: normal;
}

.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
  height: 47px;
  border: none;
  background-color: white;
  font-family: "Century Gothic";
  font-size: 12px;
  color: #000000;
  outline-color: #707070;
}
.ui-btn-icon-left:after {
      margin-left: 235px;

}

.ui-icon-plus:after{
      background-image: "Icons/collapse-plus.png";
}
